.card-img-top {
    width: 100%;
}

.col {

    padding: 10px;
    margin: 0px;

}

.border-primary {
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 7em;
}

.form-row {
    position: relative;
}

.list-group {
    position: absolute;
    
    width: 80%;
    z-index: 2;
   
}

.img-thumbnail {
    width: 100px;
}

a.span {
    vertical-align: top;
}



